---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ observability_namespace }}
  labels:
    app.kubernetes.io/part-of: divband-observability
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluent-bit
  namespace: {{ observability_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: divband-fluent-bit-read
rules:
  - apiGroups: ['']
    resources: [namespaces, pods]
    verbs: [get, list, watch]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: divband-fluent-bit-read
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: divband-fluent-bit-read
subjects:
  - kind: ServiceAccount
    name: fluent-bit
    namespace: {{ observability_namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: {{ observability_namespace }}
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        5
        Log_Level    {{ observability_fluent_bit_log_level }}
        Parsers_File parsers.conf

    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            cri
        Tag               kube.*
        Mem_Buf_Limit     10MB
        Skip_Long_Lines   On

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Merge_Log           On
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off

    [OUTPUT]
        Name   stdout
        Match  *
  parsers.conf: |
    [PARSER]
        Name        cri
        Format      regex
        Regex       ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit
  namespace: {{ observability_namespace }}
  labels:
    app.kubernetes.io/name: fluent-bit
    app.kubernetes.io/part-of: divband-observability
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: fluent-bit
  template:
    metadata:
      labels:
        app.kubernetes.io/name: fluent-bit
    spec:
      serviceAccountName: fluent-bit
      tolerations:
        - operator: Exists
      containers:
        - name: fluent-bit
          image: {{ observability_fluent_bit_image }}
          volumeMounts:
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: config
              mountPath: /fluent-bit/etc
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: config
          configMap:
            name: fluent-bit-config
