---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ external_secrets_store_name }}
  labels:
    app.kubernetes.io/managed-by: ansible
    app.kubernetes.io/part-of: divband
spec:
{% if external_secrets_provider == 'vault' %}
  provider:
    vault:
      server: {{ external_secrets_vault_server }}
      path: {{ external_secrets_vault_path }}
      version: {{ external_secrets_vault_version }}
      auth:
        tokenSecretRef:
          namespace: {{ external_secrets_namespace }}
          name: {{ external_secrets_vault_auth_secret_name }}
          key: {{ external_secrets_vault_auth_secret_key }}
{% else %}
  provider: {}
{% endif %}
